.main
  .main__header
    = render 'header'
  .main__contents
    = render @messages
  .main__form
    = form_for [@group, @message] do |f|
      .main__form__box
        .main__form__box__input
          = f.text_field :body, class: 'main__form__box__input__text', placeholder: 'type a message'
          = f.label :image, class: 'main__form__box__input__image' do
            = icon 'fas', 'image'
            = f.file_field :image, class: 'main__form__box__input__image__file'
        = f.submit 'Send', class: 'main__form__box__submit-btn'  